.container {
    padding: 2%;
    position: relative;
    z-index: 2;
    /* background: url(/sfsites/c/resource/FavoriteProperties/Bg-Image.png);
    background-size: cover; */
}
.title{
    font-size: 36px;
    font-weight: 700;
}

.bg-image {
    width: 100%;
    height: 100%;
    opacity: 70%;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.box {
    display: block;
}

.box-heading {
    color: rgba(1, 118, 211, 1);
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 0.5rem;
}

.inner-heading {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.property-details {
    width: 70%;
}

.content {
    margin-bottom: 0.5rem;
}

.prop-type {
    width: 404px;
    display: block;
    margin-bottom: 1rem;
}

.numberFields {
    display: flex;
}

.property-location {
    width: 70%;
}

.location {
    display: flex;
    /* margin-top: 0.5rem; */
}

.features {
    /* display: flex; */
    width: 70%;
}

.dropdowns {
    display: flex;
}

.quantity input {
    border: 0px;
    text-align: center;
}

.minus {
    background-color: white;
    border: 0px;
}

.plus {
    background-color: white;
    border: 0px;
}

.area-box {
    display: flex;
    width: 70%;
}

.availableFrom {
    display: flex;
}

.pr-details {
    display: flex;
}

.p_Area {
    display: flex;
}
.plus-icon{
    color: rgba(1, 118, 211, 1);
    background-color:white; 
    border:1px solid rgba(1, 118, 211, 1);
}

.checkbox {
    display: flex;
}

.tickbox {
    width: 20%;
}

.near-by-type {
    width: 842px;
}

.label {
    font-size: 16px;
    font-weight: 400;
}

.input-text {
    width: 100%;
    height: 46px;
    border-radius: 6px;
    padding: 2%;
    border: 1px solid rgba(191, 196, 215, 1);
}

.input-dropdown {
    width: 100%;
    height: 46px;
    border-radius: 6px;
    padding: 2%;
    border: 1px solid rgba(191, 196, 215, 1);
    -webkit-appearance: none;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: rgba(1, 118, 211, 1);
    border-radius: 30px;
    width: 160px;
    height: 47px;
    color: white;
    border: 0px;
}

.quantity {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 6px;
    width: 192px;
    border: 1px solid rgba(191, 196, 215, 1);
}

.quantity button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 130px;
    height: 46px;
    border-radius: 6px;
    text-align: center;
    transition: background-color 0.2s;
    background-color: white;
}

.input-box {
    /* width: 40px; */
    text-align: center;
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-text::-webkit-inner-spin-button,
.input-text::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-dropdown::-webkit-inner-spin-button,
.input-dropdown::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-box[type="number"] {
    -moz-appearance: textfield;
}

select {
    padding: 10px;
    padding-right: 30px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(/sfsites/c/resource/dropdownAerrow);

    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.message {
    height: 600px;
    display: flex;
    justify-content: center;
}

.message h1 {
    font-size: 32px;
}

.pill {
    margin: 0.5vh;
}
.amenty-checkboxes{
    padding: 1.5%;
}
.dropdown-list::-webkit-scrollbar {
    display: none;
}