.slds-m-around_medium {
    margin: 1rem;
}
.container{
    padding: 2%;
    background: url(/sfsites/c/resource/FavoriteProperties/Bg-Image.png);
    background-size: cover;
}
.bg-image{
    width: 100%;
    opacity: 70%;
    background-size: cover;
    position: absolute;
    z-index: 1;
}
/* .table{
    height: 600px;
    overflow:auto;
} */
.table thead{
    position: sticky;
}
.rowValue{
    font-size: 14px;
}
.box{
    display: flex;
    align-items:center;
}
.imgbox{
    margin: 10px;
}
.imgbox img{
    margin: 2px;
}
.propTitle{
    width: 130px;
}
/* .emailDiv{
    border: 1px solid rgba(223, 226, 233, 1);
    padding: 2%;
    border-radius: 8px;
    width: fit-content;
    background-color: white;
} */
.dropdown{
    /* width: 150px; */
    display: flex;
    align-items:center;
}
.message{
    height: 600px;
    display: flex;
    justify-content: center;
}
.message h1{
    font-size: 32px;
}
/* Apply transparency to table headers and rows */
.slds-table thead tr {
    background-color: transparent !important;
    border: 0px;
    position: sticky;
}
.slds-table{
    background-color: transparent !important;
    border: 0px;

}

.slds-table tbody tr {
    background-color: transparent !important;
    border: 0px;

}