.container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.box{
    width: 100%;
    max-width: 400px;
    padding: 24px;
    border-radius: 10px;
    /* box-shadow: 13px 27px 73px 17px rgba(0,0,0,0.85); */
    box-shadow: 13px 27px 73px 17px rgb(0 0 0 / 32%);
}

.headers{
    font-size: 20px;
    font-weight: 500;
}

.header{
    text-align: center;
}

.line{
    width: 100%;
    height: 2px;
    background-color: black;
}

label{
    display: block;
    color: #4D5959;
    font-size: 15px;
    font-weight: 500;
}

.astrick{
    color: red;
}


.input-field .input-tag{
    width: 100%;
    height: 40px;
    background-color: #EFF0F2;
    padding-left: 15px;
    border: rgba(224, 226, 233, 1);
    /* border: 1px solid red; */
    /* border: none; */
    font-size: 14px;
}

input[type="password"]:focus {
  outline: none;
}

.btn-tag{
    padding: 12px 24px;
    background-color: #3274cc;
    color: #EFF0F2;
    width: 100%;
    border: none;
    border-radius: 12px;
}

.input-field .error-cls{
    color: red;
    font-size: 12px;
}

.password-pattern{
    font-size: 10px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}


.password-match{
    /* background-color: green; */
    font-size: 10px;
    font-weight: bolder;
    color: #fff;
    background-color: #67ab8d;

    border-radius: 50%;
    padding: 1px 2px;
    margin-right: 4px;
}

.password-not-match{
    /* background-color: #ccc; */
    font-size: 10px;
    font-weight: bolder;
    color: #fff;
    background-color: #ccc;

    border-radius: 50%;
    padding: 1px 2px;
    margin-right: 4px;
}

/* .custom-icon-size {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
}

.custom-small-size lightning-icon {
    width: 10px;
    height: 10px;
}

.custom-small-size lightning-icon svg {
    width: 100%;
    height: 100%;
} */

.icon-style{
    font-size: 14px;
    font-weight: bolder
}

.mt-5{
    margin-top: 5px;
}

.mb-5{
    margin-bottom: 5px;
}

.m-5{
    margin: 5px;
}


.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.m-10{
    margin: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.m-20{
    margin: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mb-30{
    margin-bottom: 30px;
}

.m-30{
    margin: 30px;
}

.mt-3{
    margin-top: 3px;
}

@media (max-width: 834px) {
    .container{
        min-height: 72vh;
    }
}

@media (max-width: 769px) {
    .container{
        min-height: 80vh;
    }
}

@media (max-width: 495px){
    .container{
        min-height: 70vh;
    }

    .password-pattern{
        font-size: 8px;
    }
}

@media (max-width: 420px){
    .container{
        min-height: 70vh;
    }
    
    .box{
        max-width: 280px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mb-10{
        margin-bottom: 5px;
    }

    .mt-30{
        margin-top: 15px;
    }

    .mb-20{
        margin-bottom: 10px;
    }

    .mb-30{
        margin-bottom: 15px;
    }

    .line-height{
        line-height: 1;
    }

    .password-pattern{
        font-size: 8px;
    }
}




.toast {
    position: fixed;
    /* bottom: 20px; */
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    max-width: 80%;
    z-index: 1000;

    background-color: #99e5abf2;
    font-size: 12px;
}

.toast .close-btn {
    background: none;
    border: none;
    /* color: #fff; */
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}