.spinnerDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.mainDiv {
    position: relative;
    width: 100%;
    /* height: 100vh; Adjust as necessary */
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backgroundImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.mainContent {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1.375rem;
}

.backIcon {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d8dde6;
    margin-right: 10px;
    cursor: pointer;
}

.headerTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #16325c;
    border-bottom: 1px solid #628cdb;
}

.generalInformation {
    display: flex;
    flex-direction: row;
}

.profileImage {
    margin-right: 1.25rem;
    position: relative;
    min-width: 13rem;
}

.profileImage img {
    border-radius: 9%;
    width: 16.125rem;
    /* width: 12.375rem; 150px */
    height: 15.375rem;
    /* 150px */
    object-fit: fill;
    box-shadow: 0 5px 25px 0 rgba(47, 128, 237, 0.2);
}

.uploadButton {
    position: absolute;
    bottom: 1.8rem;
    /* bottom: 0.625rem; 10px */
    left: 50%;
    width: 90%;
    /* height: 46px; */
    height: 2rem;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    /*  80% white */
    border: none;
    border-radius: 1.25rem;
    /* 20px */
    /* padding: 0.3125rem 3.625rem; */
    /* 5px 10px */
    cursor: pointer;
    box-shadow: 0px 1px 61px 1px rgba(0, 0, 0, 0.25);
    font-size: 0.938rem;
}

.hidden-upload {
    display: none;
}

.generalInfoContent {
    width: 100%;
}

.sectionTitle {
    font-size: 1.2rem;
    font-weight: 700;
    color: #0176D3;
}

.delete-icon {
    position: absolute;
    top: 3%;
    left: 82%;
    /* left: 10.7rem;
    top: 0.5rem; */
    cursor: pointer;
}

.icon {
    position: absolute;
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
}

.label {
    font-size: small;
    font-weight: 700;
}

.formGroup {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.namefield {
    width: 42%;
}

.dropdownfield {
    width: 10%;
}

.formElement .inputBox {
    width: 25rem;
}

.input-age {
    width: 5rem;
}

.firstRow {
    margin-top: 1rem;
    gap: 3rem;
}

.genderOptions {
    display: flex;
    justify-content: space-between;
}

.date-and-age {
    width: 45%;
    display: flex;
    /* justify-content: space-between; */
}

.phone-and-email {
    display: flex;
    width: 100%;
}

.input-first-half {
    width: 50%;
    margin-right: 1rem;
}

.input-second-half {
    width: 50%;
    margin-left: 1rem;
}

.inputfield {
    width: 100%;
}

.address-line {
    width: 100%;
}

.address-fields {
    display: flex;
    width: 100%;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: rgba(1, 118, 211, 1);
    border-radius: 30px;
    width: 160px;
    height: 47px;
    color: white;
    border: 0px;
}

.save-btn {
    background-color: rgba(210, 210, 210, 1);
    border-radius: 30px;
    width: 160px;
    height: 47px;
    color: white;
    border: 0px;
}

.input-text {
    width: 100%;
    /* height: 46px; */
    height: 2.875rem;
    border-radius: 6px;
    padding: 2%;
    border: 1px solid rgba(191, 196, 215, 1);
    margin-bottom: 1rem;
}

.input-text::-webkit-inner-spin-button,
.input-text::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkbox {
    display: flex;
    margin-bottom: 1rem;
}

.input-dropdown {
    width: 100%;
    /* height: 46px; */
    height: 2.875rem;
    border-radius: 6px;
    padding: 2%;
    border: 1px solid rgba(191, 196, 215, 1);
    margin-bottom: 1rem;
    -webkit-appearance: none;
}

.input-dropdown::-webkit-inner-spin-button,
.input-dropdown::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.otherinput {
    width: 100%;
    /* height: 46px; */
    height: 2.875rem;
    border-radius: 6px;
    padding: 8%;
    border: 1px solid rgba(191, 196, 215, 1);
    margin-bottom: 1rem;
    -webkit-appearance: none;
}

.date-first-half {
    margin-right: 1rem;
}

.date-second-half {
    margin-left: 1rem;
}

.longfield {
    width: 100%;
    /* height: 46px; */
    height: 2.875rem;
    border-radius: 6px;
    padding: 1%;
    border: 1px solid rgba(191, 196, 215, 1);
    margin-bottom: 1rem;
    -webkit-appearance: none;
}

@media only screen and (max-width: 1024px) {
    .date-first-half {
        width: 55%;
    }
}

@media only screen and (max-width: 767px) {
    .generalInformation {
        display: flex;
        flex-direction: column;
    }

    .profileImage {
        position: relative;
        width: 70%;
        margin: auto;
        margin-bottom: 1.25rem;
        /* margin-right: 0; */
        min-width: 13rem;
    }

    .profileImage img {
        border-radius: 9%;
        width: 100%;
        height: 100%;
        object-fit: fill;
        box-shadow: 0 5px 25px 0 rgba(47, 128, 237, 0.2);
    }

    .formGroup {
        flex-direction: column;
    }

    .address-fields {
        flex-direction: column;
    }

    .phone-and-email {
        flex-direction: column;
    }

    .date-and-age {
        flex-direction: column;
    }

    .input-first-half {
        width: 100%;
        margin-right: 0;
    }

    .input-second-half {
        width: 100%;
        margin-left: 0;
    }

    .date-first-half {
        width: 60%;
        margin-right: 1rem;
    }

    .date-second-half {
        width: 40%;
        margin-left: 0;
    }

    .date-and-age {
        width: 100%;
        flex-direction: row;
    }

    .otherinput {
        padding: 2%;
    }

    .firstRow {
        flex-direction: row;
        margin-top: 0;
        gap: 1.5rem;
    }

    .namefield {
        width: 100%;
    }

    .dropdownfield {
        width: 20%;
    }

    .uploadButton {
        bottom: 0.8rem;
        width: 90%;
        height: 2rem;
    }

    .delete-icon {
        top: 5%;
        left: 87%;
    }

    .input-dropdown {
        padding: 10%;
    }

    .longfield {
        padding: 2%;
    }
    .namefield input{
        padding: 5%;
    }
}