.facilityBox{
    /* width: 7.063rem; */
    width: 9.063rem;
    height: 6.25rem;
    border: 0px;
    border-radius: 0.75rem;
    background-color: rgba(225, 241, 254, 1);
    margin: 1rem;
    padding: 1.5rem;
    color:#6B6B6B;
    cursor: pointer;
}
.facilityBox:hover{
    background-color: #0176D3;
    color:white;
}
.facilityBox:hover .iconImg{
    /* fill:black; */
    filter: brightness(0) invert(1);
}
.facilityBox img{
    height:31.25px;
    width:33.75px;
    cursor:pointer;
}
.facilityBox p{
    font-size:12px;
    margin-top:5px;
}
svg use {
    fill: #00A1E0;
}

svg use:hover {
    fill: yellow;
}

@media only screen and (max-width: 767px) {
    .facilityBox{
        margin: 0.5rem;
        padding: 0.8rem;
        width: 6rem;
        height: 5.375rem;
    }
    .iconImg{
        width: 1.5rem;
        height: 1.5rem;
    }
    .facilityBox p{
        font-size:10px;
    }
}