
.layout-model{
    /* width: 45.5%; */
    /* height: 35%; */
    /* max-height: 300px; */
    /* margin: 0px 0.8% 0.5% 2.5%; */

}
.custom-box{
    /* height: 259px; */
}
.main{
    border-radius: 12px;
    background: #E1F1FE;
    display: flex;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 1rem; */
    /* width: max-content; */
    /* gap: 16px; */
    margin: 14px 0px;
}

.main-list{
    border-radius: 12px;
    background: #E1F1FE;
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    margin-top: 25px;
}

.image{
    /* width: 21rem; */
    aspect-ratio: 1.8;
    /* padding: 1rem; */
    /* gap: 1rem; */
    /* display: inline-block; */
    /* vertical-align: top; */
    /* background-size: cover; */
    position: relative;
    /* border-radius: 12px 0px 0px 12px; */
    /* opacity: 0px; */
}
.image-card{
    width: 100%;
    position: relative;
}
.image-list{
    width: fit-content;
    position: relative;
    /* min-width: 273px; */
}
.innertext{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: #fff;
    width: 100%;
    /* padding: 10px 20px; */
    font-size: 0.9rem;
    text-align: center;
    opacity: 0.58;
    border-radius: 0 0 12px 12px;
}

.property-image {
    /* width: 17.063rem; */
    /* height: 12.75rem; */
    height:15rem;
    border-radius: 0.625rem 0 0 0.625rem;
    z-index: 1;
}

.property-image-card{
    height: 260px;
    border-radius: 0.625rem;
    z-index: 1;
}
.featureroom{
    gap: 23px;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.description{
    width: 60%;
    display: grid;
    gap: 12px;
    padding: 20px;

}
.description-list{
    width: 80%;
    /* display: grid; */
    /* gap: 12px; */
    padding: 20px;
}
.iconsize{
    width: 20px;
    height: 20px;
}

.propertyname{
    font-size:1.12rem;
    font-weight: 700;
    line-height: 24px;

}

.propertyname-list{
    display: flex;
    justify-content: space-between;
}
.pname{
    font-size: 1.12rem;
    font-weight: 700;
    line-height: 24px;
}
.pavailabledate{
    background: #0176D3;
    width: fit-content;
    padding: 6px 25px 6px 25px;
    color: white;
    border-radius: 30px;
    white-space: nowrap;
}

.pricev{
    margin: auto;
    margin-top: 16px;
    float: right;
    margin-right: 7px;
}
.feturediv{
    display: inline-block;
    margin-top: 13px;
}
.featurespart1{
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    display: flex;
    gap: 14px;
}
.featurespart2{
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.price{
    
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.facilitate{
    display: flex;
    margin-top: 14px;
    gap: 25px;
}


/* like icon box css */
.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.container-grid{
    left: 82%;
    top: 5%;
}

.container-card{
    left: 88%;
    top: 5%;
}

.container-list {
    left: 83%;
    top: 5%;
}


.container {
    position: absolute;
    transition: 100ms;
    z-index: 2;
}

.checkmark {
    height: 2.5em;
    width: 2.5em;
    padding: 0.45rem;
    background: #FFFFFFC7;
    border-radius: 15rem;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
}

.container input:not(:checked)~.checkmark path {
    stroke: #000000;
    stroke-width: 12px;
}

.container input:checked~.checkmark path {
    fill: #FF7878;
    stroke-width: 0;
}

.container input:checked~.checkmark {
    animation: like_effect 400ms ease;
}

.container:hover {
    transform: scale(1.1);
}
/* like icon box css */


/* mobile view  */
.main-mobile{
    display: flex;
    border-radius: 8px;
    gap: 10px;
    width: 100%;
    height: 120px;
    margin: 9px 3px;
    border: 0.5px solid #FFFFFF;
    padding-right: 12px;
    box-shadow: 0px 0px 2px 0px #00000040;

}
.image-mobile{
    width: 50%;
    height: inherit;
    
}

.discription-mobile{
    width: -webkit-fill-available;
}
.addressfet{
    font-size: 0.725rem;
    color: #828282;
    font-weight: 400;
}
.mapaddress{
    display: flex;
    gap: 10px;
    margin: 8px 0;
}

.areanumber{
    font-size: 0.725rem;
    color: #828282;
    display: flex;
    gap: 12px;
    margin: 8px 0;
}
.icons{
    display: flex;
    gap: 12px;
}
.iconsarea{
    display: flex;
    gap: 7px;
}

.property-image-mobile {
    height: 120px;
    border-radius: 8px 0 0 8px;
    z-index: 1;
}
.fontnowrap{
    white-space: nowrap;
}
.imageisize{
    width: 12px;
}


/* mobile view end */


@media (max-width: 480px) {
    .checkmark {
        width: 1.5em;
        height: 1.5em;
        padding: 0 7px 0 7px;
        margin: 0 0 0 0;
        background: #0000004D;
        border-radius: 7px;
    }
    
    .container-mobile {
        left: 25.5%;
        margin-top: 7px;
    }
    .prname{
        font-size: 0.875rem;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        margin-top: 7px;
    }

    .proname{
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        resize: horizontal;
    }
    
    .prname p:last-of-type {
        color:#0176D3;
    }
    .iconsize{
        height: 12px;
        width: 12px;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

    .container-card {
        left: 87%;
        top: 5%;
    }
    
}